.dirs_header {
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.dirs_items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 2.5%;

}

.dirs_section {
    margin-bottom: 50px;
    /*flex-wrap: inherit;*/
}
