.dir_item {
    display: flex;
    align-items: center;
    column-gap: 2.5%;
    justify-content: flex-start;
    padding-left: 1.25%;
    /*padding-left: 5%;*/
    min-width: 250px;
    min-height: 60px;
    border: 1px solid #adadad;
    border-radius: 25px;
    margin-bottom: 2.5%;
    position: relative;

    transition: all .3s ease-in-out;
}

.dir_item:hover {
    cursor: pointer;
    color: white;
    background-color: #919191;
}

.dir_owner_label {
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.dir_delete_btn {
    display: inline-block;
    position: absolute;
    color: red;
    top: 5px;
    right: 10px;
}

.dir_delete_btn:hover {
    color: #9d3838;

}

.dir_item_wrapper {
    position: relative;
}

.file_delete_btn {

}

a {
    text-decoration: none;
    color: black;
}
