.signup_form {
    display: grid;
    place-content: center;
    align-items: center;
    margin: 20vh;
}

.signup_form input {
    min-width: 300px;
    min-height: 40px;
    margin-bottom: 5px;
    font-size: 1.25rem;
}

.input_error {
    color: red;
}

.non_field_errors {
    color: red;
}

.non_field_info {
    color: green;
}

.form_btn {
    padding: 2.5%;
    background-color: #463d3d;
    color: white;
}

.login_btn {
    display: flex;
    justify-content: flex-end;
    padding: 2.5%;
}