.main_header {
    display: flex;
    align-items: center;
    column-gap: 2.5%;
    margin-bottom: 20px;
}

.main_header_button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: #F1F3F4;
    width: 200px;
    height: 50px;
    padding: 1.25%;
    border-radius: 100px/90px;

    transition: all .3s ease-in-out;
}

.main_header_button:hover {
    background-color: #919191;
    color: white;
    cursor: pointer;
}
